.header {
    background-color: rgba(251, 221, 191, 0.5);
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -moz-box-shadow: 0 15px 5px -12px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 15px 5px -12px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 15px 5px -12px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 15px 5px -12px rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 5px -12px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
* {
    box-sizing: border-box;
}
user agent stylesheetarticle, aside, footer, header, hgroup, main, nav, section {
    display: block;
}
.header__container {
    display: block;
    margin: 0 auto;
    width: 1200px;
    padding: 20px 0;
    position: relative;
    height: 201px;
}
.header__container, .main-nav__list, .contacts__container {
}
* {
    box-sizing: border-box;
}
user agent stylesheetdiv {
    display: block;
}

body {
    font: 16px/1.41 "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    height: 100% !important;
    background-image: url("../img/bg.png");
    min-width: 1230px;
    color: #613D1C;
}

html {
    height: 100%;
    width: 100%;
    font-size: 100.01%;
}
html, button, input, select, textarea {
    font-family: sans-serif;
}
html {
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.header__container:before, .main-nav__list:before, .contacts__container:before, .header__container:after, .main-nav__list:after, .contacts__container:after {
    content: " ";
    display: table;
}

.header__container:after, .main-nav__list:after, .contacts__container:after {
    clear: both;
}
.header__container:before, .main-nav__list:before, .contacts__container:before, .header__container:after, .main-nav__list:after, .contacts__container:after {
    content: " ";
    display: table;
}

